$dark:#533;
$light:#ccc;
$white:#fff;
$black:#1c1c1c;
$grey:#383838;
$lightborder:#d8d8d8;

@mixin contact_input {
    margin: 15px auto;
    width: 90%;
    color: $dark;
    background: lighten($light, 10%);
    font-size: inherit;
    padding: 2%;
}


body {
    font: 0.8em 'Arial', sans-serif;;
    color: $dark;
    p,
    ul {
    margin: 0 0 1.5em;
    }
    ul {
    list-style: none;
    padding: 50 0 0 20px;
    }
    a {
    color: $dark; }
    h1 {
        font-size: 2em;
    }
    h2 {
    // font-family: 'Arial', san-serif;
    font-size: 1.75em;
    line-height: 1.4em;
    margin: 0 0 .4em;
    font-weight: bold;
    @media screen and  (min-width: 768px) {
            font-size: 2em;
        }
    }
}
 
/*layout*/
 
.wrapper {
    article {
    border-bottom: 1px solid $lightborder;
    padding: 10px 20px 0 20px;
    margin: 10px 0;
    }
    .pagination {
        text-align: right;
        margin: 1em 0;
        span, a {
            padding: 5px 15px;
            border: 1px solid $light; }
        span {
            background: $light;
            border-color :$dark;
            color: $dark;
        }
        a {
            display: inline-block;
        }
    }
    .products {
    width: 100%;
    li {
        display: inline-block;
        border: 1px solid $dark;
        border-radius: 2px;
        width: 40%;
        @media screen and (min-width: 768px) {
            width: 18%;
        }
        text-align: center;
        padding: 2%;
        background: $white;
        margin: 0 0 3% 2%;
        position: relative;
    }
    a {
        display: block;
        padding: 30px 0 10px;
    }
    img {
        width: 100%;
    }
    }
    .breadcrumb {
        padding: 14px 0 48px;
    }
    .product-picture {
        
        width: 90%;
        padding: 14px;
        background: $light;
        text-align: center;
        span {
            display: block;
            width: 100%;
            padding: 36px 0 61px;
            background: $white;
            img {
                width: 292px;
            }
        }
        @media screen and (min-width: 768px) {
            width: 46%;
            float: left;
        }
    }
    .product-details {
        width: 90%;
        
        h1 {
            text-align: left;
            .price {
                color: $dark;
                padding: 0 10px;
                font-size: 1.2em;
            }
        }
        label {
            margin-top: 20px;
            font-weight: bold;
            display: block;
            text-align: center;
        }
        select {
            width: 100%;
        }
        p {
            width: 90%;
            margin: 0 auto;
            margin-top: 20px;
            padding: 1em 0;
        }
        .note {
            font-size: 0.8em;
        }
        @media screen and (min-width: 768px) {
            width: 46%;
            float: right;
        }
    }
    @media only screen and (min-width: 768px) {
        position: relative;
        width: 768px;
        margin: auto;
    }
}
 

 
/*header*/
 
header {
    background: $dark;
    padding: 15px 20px;
}
 
/*shorter clearfix http://nicolasgallagher.com/micro-clearfix-hack/*/
header:before,
header:after {
    content:"";
    display:table;
}
 
header:after {
    clear:both;
}
 
/* For IE 6/7 (trigger hasLayout) */
header {
    zoom:1;
}

h1.logo a {
    color: $light;
    font-family: 'Vardana', sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    line-height: 22px;
    float: left;
}
 
a.to_nav {
    float: right;
    color: $dark;
    background: $light;
    text-decoration: none;
    padding: 0 10px;
    font-size: 12px;
    font-weight: bold;
    line-height: 22px;
    height: 22px;
    text-transform: uppercase;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    &:hover,
    &:focus {
    color: $light;
    background: $dark;
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}
 


/*navigation*/ 
 
#primary_nav {
    ul {
    list-style: none;
    background: $dark;
    padding: 5px 0;
    }
    li {
        @media screen and (min-width: 768px) {
            display: inline;
            #top {
            display: none;
            }
        }
    }
    li a {
    display: block;
    padding: 0 10px;
    color: $white;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 0.1em;
    letter-spacing: 0.1em;
    line-height: 2.5em;
    // height: 2em;
    border-bottom: 1px solid $grey;
    &:hover, &:focus {
        color: $black;
        background: $light;
    }
    &.on {
        text-decoration: underline;
    }
    @media screen and (min-width: 768px) {
        float: left;
        border: none;
        padding: 0 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        }
    }
    li:last-child a {
    border-bottom: none;
    }
    @media screen and (min-width: 768px) {
        position: absolute;
        top: 5px;
        right: 10px;
        background: none;
    }
}
 
/*footer*/
 
footer {
    display: block;
    margin-top: 10%;
    font-family: 'PT Serif', serif;
    font-style: italic;
    text-align: center;
    font-size: 1em;
    background: $light;
    float: clear;
}



.contact {
    // display: none;
    width: 100%;
    padding: 10px -5px;
    margin: 10px auto;
    background: $dark;
    color: $light;
    text-align: center;
    font-size: 1.4em;
    input {
        @include contact_input;
        font-size: 16px;        
        
    }
    button {
        @include contact_input;
        padding: 20px 40px;
        text-align: inherit;
        border: 1px solid $lightborder;
        border-width: 1px 1px 3px;
    }
    label {
        display: block;
        margin: 8px auto;
        font-size: 1.2em;
        &:first-child {
        padding-top: 30px;
        }
    }
    textarea#message {
        @include contact_input;
        height: 100px;
    }
}



#overlay {
  background:rgba(0,0,0,0.7);
  width:100%;
  height:100%;
  position:absolute;
  top:0;
  left:0;
  display:none;
  text-align:center;
  img {
    margin-top: 10%;
  }
  p {
      color: $white;
      &#close {
        width: 20px;
        height: 20px;
        padding: 10px;
        font-size: 3em;
        margin-top: 10%;
        // border: 2px solid $dark;
        background: $dark;
        border-radius: 100%;
        // text-align: right;
      }
  }
}











