.accordion {
    margin: 50px;
    font-family: Verdana;
}
h3, dd {
    padding: 10px;
    border: 1px solid black;
      /*border-bottom: 1px; */
   /*   &:last-of-type {
        border-bottom: 1px solid black; 
      }*/
}
a {
    display: block;
    color: black;
    font-weight: bold;
    text-decoration: none;
}
dd {
     /*border-top: 1px; */
     font-size: 12px;
    /* &:last-of-type {
       border-top: 1px solid white;
       position: relative;
       top: -1px;
     }*/
}